<div class="row">

    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil</h4>

                <form ngNativeValidate #forma="ngForm" (ngSubmit)="guardar(forma.value)" class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label for="uname" class="col-sm-3 control-label">Nombre*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input [(ngModel)]="usuario.nombre" name="nombre" class="form-control" id="uname" placeholder="Nombre" type="text">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email2" class="col-sm-3 control-label">Correo*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input [(ngModel)]="usuario.email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Correo" type="email" [disabled]="usuario.google">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9 ">
                            <button type="submit" class="btn btn-success waves-effect waves-light"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" aligne="center">
                <h4 class="card-title">Imagen</h4>
                <img *ngIf="!archivoTemp" [src]="usuario.img | imagen" class="w150">
                <img *ngIf="archivoTemp" [src]="archivoTemp" class="w150">
                <input (change)="tomarImagen( $event.target.files[0] )" type="file">
                <hr>
                <button (click)="cargarImagen()" [disabled]="!archivo" type="submit" class="btn btn-block btn-success waves-effect waves-light"><i class="fa fa-upload"></i> Cargar</button>
            </div>
        </div>
    </div>

</div>