<h3>{{leyenda}} - {{porcentaje}}</h3>
<hr>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-5);">
          <i class="fa fa-minus"></i>
        </button>
    </div>

    <input #txtProgress type="number" min="0" max="100" class="form-control" (ngModelChange)="onChange( $event )" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="porcentaje" name="porcentaje">

    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+5);">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>