<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [etiquetas]="graficos.grafico1.labels" [informacion]="graficos.grafico1.data" [tipo]="graficos.grafico1.type" [leyenda]="graficos.grafico1.leyenda"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [etiquetas]="graficos.grafico2.labels" [informacion]="graficos.grafico2.data" [tipo]="graficos.grafico2.type" [leyenda]="graficos.grafico2.leyenda"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [etiquetas]="graficos.grafico3.labels" [informacion]="graficos.grafico3.data" [tipo]="graficos.grafico3.type" [leyenda]="graficos.grafico3.leyenda"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [etiquetas]="graficos.grafico4.labels" [informacion]="graficos.grafico4.data" [tipo]="graficos.grafico4.type" [leyenda]="graficos.grafico4.leyenda"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>